apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "baseball-chatbot.fullname" . }}
  labels:
    {{- include "baseball-chatbot.labels" . | nindent 4 }}
immutable: false
data:
  OPENAI_BASE_URL: "http://my-llama-stack.my-llama-stack.svc:8080/v1"
  DEFAULT_MODEL: "together/mistralai/Ministral-3-14B-Instruct-2512"
  EMBEDDING_MODEL: "sentence-transformers/sentence-transformers/all-mpnet-base-v2"
  AGENT_UTILITIES_URL: "http://{{ .Release.Name }}-agent-utilities.baseball-chatbot.svc:8080/mcp"
  AGENT_TEAM_URL: "http://{{ .Release.Name }}-agent-team.baseball-chatbot.svc:8080/mcp"
  AGENT_GAME_URL: "http://{{ .Release.Name }}-agent-game.baseball-chatbot.svc:8080/mcp"
